#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
#			dsn: 'mysql:host=127.0.0.1;dbname=chat'
#			user: 'root'
#			password: 'root'
#		projetcName: 'Besir.cz'
			host: 127.0.0.1
			username: root
			password: root
			database: besir
			lazy: FALSE
	services:
		connection:
			class: DibiConnection(%database%)

	includes:
		- factories.neon
		- components.neon
		- services.neon
		- forms.neon
		- model.dao.neon
		- model.service.neon

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days
			autoStart: true


production < common:
	nette:
		database:
			default:
				dsn: "mysql:host=127.0.0.1;dbname=ChangeMe"
				user: 'changeMe'
				password: 'changeMe'
				options: [PDO::MYSQL_ATTR_COMPRESS = true]
				explain: false
				reflection: discovered

development < common:
	nette:
		database:
			default:
				dsn: "mysql:host=127.0.0.1;dbname=ChangeMe"
				user: 'changeMe'
				password: 'changeMe'
				options: [PDO::MYSQL_ATTR_COMPRESS = true]
				debugger: true
				explain: false
				reflection: discovered
